@model Tasks.Pages.Shared._ConfirmModalModel

<div class="modal fade" id="@Model.ModalId" tabindex="-1" aria-labelledby="@Model.ModalId + " Label"" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-@Model.HeaderColor text-white">
                <h5 class="modal-title" id="@Model.ModalId + " Label"">@Model.Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                @Model.Message
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>

                <form method="post" asp-page-handler="@Model.Handler">
                    <button type="submit" class="btn btn-@Model.ConfirmButtonColor">
                        @Model.ConfirmButtonText
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
